
.bucket-list-view-wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
  }
  
  .bucket-list-view-container {
    background-color: var(--content-bg-color);
    height: 500px;
    width: 40%;
    border: var(--border-style);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .bucket-list-view-content-container {
    background-color: var(--content-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .bucket-list-view-content-container::-webkit-scrollbar {
    display: none;
}

  .bucket-list-view-list-wrapper {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bucket-list-view-list-wrapper::-webkit-scrollbar {
    display: none;
}

  .bucket-list-view-empty {
    position: absolute;
    text-align: center;
    top: 60px;
    font-family: "Sarabun";
    color: gray;
    font-size: 50px;
  }
  
  .bucket-list-view-header-container {
    background-color: var(--main-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
  
  .bucket-list-view-header {
    font-family: "Sarabun";
    color: var(--content-bg-color);
    text-align: center;
  }

  .bucket-list-view-add-button {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 2px solid var(--content-bg-color);
    border-radius: 10px;
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--content-bg-color);
  }

  .bucket-list-view-add-button:hover {
    background-color: var(--content-bg-color);
    cursor: pointer;
  }

  .bucket-list-view-add-button:hover h2 {
    color: var(--main-color);
  }

  .bucket-list-view-description {
    font-family: var(--text-font);
    color: var(--content-bg-color);
    text-align: center;
  }