
.bucket-list-view-wrapper {
    /* background-color: red; */
    /* height: calc(100vh - 100px); */
    height: 70vh;
    display: flex;
    justify-content: center;
    /* height: 500px; */
  }
  
  .bucket-list-view-container {
    /* height: calc(100% - 50px); */
    background-color: var(--content-bg-color);
    /* min-width: 500px; */
    width: 40%;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
  }

  .bucket-list-view-content-container {
    position: relative;
    flex-grow: 1;
  }
  
  .bucket-list-view-header-container {
    background-color: var(--main-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    position: relative;
  }
  
  .bucket-list-view-header {
    font-family: "Sarabun";
    color: var(--content-bg-color);
    text-align: center;
  }

  .bucket-list-view-add-button {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 2px solid var(--content-bg-color);
    border-radius: 10px;
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--content-bg-color);
  }

  .bucket-list-view-add-button:hover {
    background-color: var(--content-bg-color);
    cursor: pointer;
  }

  .bucket-list-view-add-button:hover h2 {
    color: var(--main-color);
  }

  .bucket-list-view-description {
    font-family: var(--text-font);
    color: var(--content-bg-color);
    text-align: center;
  }