.bucket-list-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

.bucket-list-content-container {
    width: 100%;
    display: flex;
    position: relative;
}

.bucket-list-content-bullet-point {
    align-self: flex-start;
    margin-left: 10px;
    margin-right: 20px;
}

.bucket-list-content-activities-header {
    font-family: "Sarabun";
    color: var(--text-color);
    font-size: 30px;
}

.bucket-list-content-activities-description {
    font-family: var(--text-font);
    color: var(--text-color-gray);
}

.bucket-list-content-edit-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.bucket-list-content-edit-button:hover {
    cursor: pointer;
    background-color: var(--main-color);
}

.bucket-list-content-edit-button:hover p {
    color: white;
}

@media screen and (max-width: 500px) {
    .bucket-list-content-wrapper {
        margin-top: 20px;
    }
    .bucket-list-content-bullet-point {
        margin-left: 5px;
        margin-right: 5px;
    }
    .bucket-list-content-activities-container {
        width: 80%;
        /* background-color: red; */
    }
    .bucket-list-content-activities-header {
        font-size: 16px;
    }
    .bucket-list-content-activities-description {
        font-size: 16px;
    }
    .bucket-list-content-edit-button {
        top: 10px;
        right: 5px;
        height: 50px;
        width: 50px;
        font-size: 20px;
    }
}