:root {
  --border-radius: 12px;
  --border-style: 1px solid #b9b9b9;
  --content-bg-color: #FFF;
  /* --main-font-color: #581bc0; */
  --main-font-color: #8442f7;
  --text-color: rgb(41, 41, 41);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
  /* background-color: #dad7df; */
  /* background-color: #ececec; */
  background-color: #e0e0e0;
}

@font-face {
  font-family: "Sarabun";
  src: url("./assets/fonts/Sarabun/Sarabun-Light.ttf") format("truetype");
}