.recipe-display-container {
    width: 100%;
    display: flex;
    align-items: center;
    /* margin-bottom: 15px; */
    /* background-color: blue; */
}

.recipe-display-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: cover;
}

.recipe-display-info {
    text-align: center;
    width: 150px;
}

.recipe-display-info-title {
    font-size: 18px;
    font-family: var(--text-font);
    color: var(--text-color);
}