.friend-list-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--main-color); */
    /* background-color: red; */
}

.friend-list-container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    /* background-color: blue; */
}

.friend-list-container::-webkit-scrollbar {
    display: none;
}

.friend-list-profile-wrapper {
    border-bottom: 2px solid var(--border-style-color);
    position: relative;
    display: flex;
    padding: 10px 0 10px 0;
    /* background-color: red; */
}

.friend-list-profile-wrapper:hover {
    cursor: pointer;
}

.friend-list-profile-wrapper:hover .friend-name {
    font-size: 1.1em;
    transition: font-size 50ms ease-in;
}

.friend-image {
    height: 75px;
    width: 75px;
    border-radius: 8px;
}

.friend-name {
    /* font-family: Arial; */
    font-family: "Sarabun";
    position: absolute;
    bottom: 0;
    right: 0;
    /* margin-left: 10px; */
}