.home-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(6, 350px);
    justify-content: center;
    grid-gap: 15px
}

.profile-info {
    background-color: var(--content-bg-color);
    grid-column: 4/6;
    border-radius: var(--border-radius);
    border: var(--border-style);
}

.content-container {
    background-color: var(--content-bg-color);
    grid-column: 6/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: var(--border-radius);
    border: var(--border-style);
}

.content-container::-webkit-scrollbar {
    display: none;
}

.friend-feed {
    background-color: var(--content-bg-color);
    grid-column: 13/16;
    border-radius: var(--border-radius);
    border: var(--border-style);
}

.control-panel {
    background-color: var(--content-bg-color);
    grid-column: 4/6;
    border-radius: var(--border-radius);
    border: var(--border-style);
}