.home-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 300px);
    justify-content: center;
    grid-gap: 10px
}

.test {
    background-color: red;
    /* height: 100px;
    width: 100px; */
}

.profile-info {
    background-color: blue;
    grid-column: 3/5;
}

.content-container {
    background-color: green;
    grid-column: 5/10;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.content-container::-webkit-scrollbar {
    display: none;
}

.friend-feed {
    background-color: yellow;
    grid-column: 10/14;
}

.control-panel {
    background-color: purple;
    grid-column: 3/5;
}

/* .row-container {
    display: grid;
    grid-template-columns: 300px 600px 500px;
    justify-content: center;
    gap: 10px;
}

.first {
    background-color: blue;
}

.second {
    background-color: purple;
}

.third {
    background-color: yellow;
}

.content-container {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.content-container::-webkit-scrollbar {
    display: none;
}


.test-bucket-list {
    width: 500px;
    height: 100px;
    background-color: white;
    margin-top: 30px;
    flex-shrink: 0;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
} */