.search-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}

.search-list-container {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.search-list-container::-webkit-scrollbar {
    display: none;
}

.search-list-user-card {
    border-bottom: 2px solid var(--border-style-color);
    position: relative;
    display: flex;
    color: var(--text-color);
    padding: 10px 0 10px 0;
}

.search-list-user-image {
    height: 75px;
    width: 75px;
    border-radius: 8px;
}

.search-list-user-info {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 8px;
    left: 80px;
}

.search-list-user-username {
    font-family: "Sarabun";
}

.search-list-user-name {
    font-family: "Sarabun";
    font-size: 15px;
    color: rgb(145, 145, 145);
}

.search-list-user-body {
    position: relative;
    width: 190px;
    display: flex;
    justify-content: center;
    top: 30px;
}

.search-list-user-text {
    font-family: "Sarabun";
    font-size: 20px;
    color: var(--main-color);
    position: relative;
    top: 5px;
}

.search-list-request-button {
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    z-index: 5;
}

.search-list-request-button > h3 {
    font-family: "Sarabun";
    font-size: 18px;
    color: var(--main-color);
}

.search-list-request-button:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.search-list-request-button:hover h3 {
    color: var(--content-bg-color);
}
