.friend-bucket-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.friend-bucket-list-container {
    width: 95%;
    height: 100px;
    margin-top: 15px;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px 10px;
}

.friend-bucket-list-container:hover {
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.friend-bucket-list-title {
    font-family: "Sarabun";
    color: var(--text-color);
    border-bottom: var(--border-style);
}

.friend-bucket-list-text {
    font-family: var(--text-font);
}

@media screen and (max-width: 500px) {
    .friend-bucket-list-container {
        height: 100%;
    }
    .friend-bucket-list-title {
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        min-width: 250px;
    }
    .friend-bucket-list-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}