.bucket-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bucket-list-container {
    width: 95%;
    height: 100px;
    margin-top: 15px;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px 10px;
}

.bucket-list-container:hover {
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.bucket-list-title {
    font-family: "Sarabun";
    color: var(--text-color);
    border-bottom: var(--border-style);
}

.bucket-list-text {
    font-family: var(--text-font);
}

.bucket-list-edit-button {
    position: absolute;
    top: 30px;
    right: 30px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.bucket-list-edit-button > h2 {
    font-size: 18px;
}

.bucket-list-edit-button:hover {
    cursor: pointer;
    background-color: var(--main-color);
}

.bucket-list-edit-button:hover h2 {
    color: white;
}